# 0. Library

In [149]:
# panggil library
import nltk
import pandas as pd

# 1.1. Kalimat

In [150]:
# ambil data kalimat
# df_sentences_ade = pd.read_excel("raw/trained_kalimat_ade.xlsx", usecols=["Sentence", "Parsed"])
# df_sentences_adi = pd.read_excel("raw/trained_kalimat_adi.xlsx", usecols=["Sentence", "Parsed"])
# df_sentences_krisna = pd.read_excel("raw/trained_kalimat_krisna.xlsx", usecols=["Sentence", "Parsed"])
# df_sentences = pd.concat([df_sentences_ade, df_sentences_adi, df_sentences_krisna], ignore_index=False)
df_sentences = pd.read_excel("raw/df_kalimat_fixed.xlsx", usecols=["Sentence", "Parsing"])
df_sentences = df_sentences.rename(columns={"Parsing": "Parsed"})
df_sentences

,Sentence,Parsed
0,nah ne tuah i kepuh linyok teken pasubaya,(K\n (S (NP (Pronoun nah)))\n (P (NP (Pronou...
1,apine sayan ngedenang kanti i kepuh puun sengeh,(K\n (S (NP (Pronoun apine)))\n (P\n (NP\...
2,panakne ni wingsali masih bareng ka alase,(K\n (S (NP (Pronoun panakne)))\n (P (NP (NP...
3,mesaut ni mesaba ih iba macan,(K\n (S (NP (Pronoun mesaut)))\n (P (NP (Nou...
4,kacerita ada i lutung masawitra ajak i kekua,(K\n (S (NP (Pronoun kacerita)))\n (P (NP (N...
...,...,...
429,kekantenang sang bima ngajengang carune,(K\n (S (NP (NP (Noun kekantenang)) (Det sang...
430,sakewala sang bima iteh ngajengang carune ento,(K\n (S (NP (NP (Pronoun sakewala)) (Det sang...
431,makejang karma desa ekacakrane ngajumang kawis...,(K\n (S (NP (Pronoun makejang)))\n (P (NP (N...
432,buin kejepne bapa gelatik mebalik kesebunne,(K\n (S (NP (Noun buin)))\n (P (NP (Noun kej...
433,sakewala i bapa gelatik sing takut,(K\n (S (NP (NP (Pronoun sakewala)) (Det i)))...

In [151]:
# ekstak data parsing kalimat untuk dikumpulkan production nya
df_sentences["Sentence"] = df_sentences["Sentence"].apply(lambda x: x.lower().split())
df_sentences["Parsed"] = df_sentences["Parsed"].apply(lambda x: nltk.Tree.fromstring(x))
df_sentences["Productions"] = df_sentences["Parsed"].apply(lambda x: x.productions())
df_sentences

,Sentence,Parsed,Productions
0,"[nah, ne, tuah, i, kepuh, linyok, teken, pasub...","[[[(Pronoun nah)]], [[(Pronoun ne)]], [[(NP (N...","[K -> S P O Pel Ket, S -> NP, NP -> Pronoun, P..."
1,"[apine, sayan, ngedenang, kanti, i, kepuh, puu...","[[[(Pronoun apine)]], [[(NP\n (NP\n (NP\n ...","[K -> S P, S -> NP, NP -> Pronoun, Pronoun -> ..."
2,"[panakne, ni, wingsali, masih, bareng, ka, alase]","[[[(Pronoun panakne)]], [[(NP (Noun ni)), (Nou...","[K -> S P O Pel, S -> NP, NP -> Pronoun, Prono..."
3,"[mesaut, ni, mesaba, ih, iba, macan]","[[[(Pronoun mesaut)]], [[(Noun ni)]], [[(NP (N...","[K -> S P O Pel, S -> NP, NP -> Pronoun, Prono..."
4,"[kacerita, ada, i, lutung, masawitra, ajak, i,...","[[[(Pronoun kacerita)]], [[(NP (NP (Noun ada))...","[K -> S P Pel, S -> NP, NP -> Pronoun, Pronoun..."
...,...,...,...
429,"[kekantenang, sang, bima, ngajengang, carune]","[[[(NP (Noun kekantenang)), (Det sang)]], [[(N...","[K -> S P Pel, S -> NP, NP -> NP Det, NP -> No..."
430,"[sakewala, sang, bima, iteh, ngajengang, carun...","[[[(NP (Pronoun sakewala)), (Det sang)]], [[(N...","[K -> S P Pel, S -> NP, NP -> NP Det, NP -> Pr..."
431,"[makejang, karma, desa, ekacakrane, ngajumang,...","[[[(Pronoun makejang)]], [[(Noun karma)]], [[(...","[K -> S P O Pel, S -> NP, NP -> Pronoun, Prono..."
432,"[buin, kejepne, bapa, gelatik, mebalik, kesebu...","[[[(Noun buin)]], [[(Noun kejepne)]], [[(NP (N...","[K -> S P Pel, S -> NP, NP -> Noun, Noun -> 'b..."
433,"[sakewala, i, bapa, gelatik, sing, takut]","[[[(NP (Pronoun sakewala)), (Det i)]], [[(NP (...","[K -> S P Pel, S -> NP, NP -> NP Det, NP -> Pr..."

### 1.1.1. Tokenization

In [152]:
# buat tabel sentence rules
df_sentences_rules = pd.DataFrame({"production": pd.Series(), "sum_production": pd.Series(), "sum_lhs": pd.Series()})
for productions in df_sentences["Productions"]:
  for production in productions:
    df_sentences_rules = pd.concat([df_sentences_rules, pd.DataFrame({"production": pd.Series([production]), "sum_production": pd.Series([1]), "sum_lhs": pd.Series([0])})], ignore_index=True)
df_sentences_rules["lhs"] = df_sentences_rules["production"].apply(lambda n: n.lhs())
df_sentences_rules["production"] = df_sentences_rules["production"].astype(str)
df_sentences_rules["lhs"] = df_sentences_rules["lhs"].astype(str)
df_sentences_rules

              production sum_production sum_lhs      lhs
0     K -> S P O Pel Ket              1       0        K
1                S -> NP              1       0        S
2          NP -> Pronoun              1       0       NP
3       Pronoun -> 'nah'              1       0  Pronoun
4                P -> NP              1       0        P
...                  ...            ...     ...      ...
7183           Pel -> VP              1       0      Pel
7184        VP -> VP Adj              1       0       VP
7185          VP -> Verb              1       0       VP
7186      Verb -> 'sing'              1       0     Verb
7187      Adj -> 'takut'              1       0      Adj

[7188 rows x 4 columns]

### 1.1.2. Normalization

In [153]:
# buang production yang cacat
def filter_invalid_productions(prod):
  if '->' in prod:
    if prod.strip().startswith('->') or prod.strip().endswith('->'):
      return False
  return True
df_sentences_rules = df_sentences_rules[df_sentences_rules["production"].apply(filter_invalid_productions)]
df_sentences_rules

              production sum_production sum_lhs      lhs
0     K -> S P O Pel Ket              1       0        K
1                S -> NP              1       0        S
2          NP -> Pronoun              1       0       NP
3       Pronoun -> 'nah'              1       0  Pronoun
4                P -> NP              1       0        P
...                  ...            ...     ...      ...
7183           Pel -> VP              1       0      Pel
7184        VP -> VP Adj              1       0       VP
7185          VP -> Verb              1       0       VP
7186      Verb -> 'sing'              1       0     Verb
7187      Adj -> 'takut'              1       0      Adj

[7188 rows x 4 columns]

In [154]:
# menghitung total masing masing production
df_sentences_rules = df_sentences_rules.groupby("production").agg({
  "lhs": "first",
  "sum_production": "sum",
  "sum_lhs": "sum"
}).reset_index()
df_sentences_rules

                     production   lhs sum_production sum_lhs
0                Adj -> 'ageng'   Adj              1       0
1               Adj -> 'bajang'   Adj              1       0
2                Adj -> 'barak'   Adj              1       0
3                Adj -> 'belog'   Adj              3       0
4                Adj -> 'beneh'   Adj              1       0
...                         ...   ...            ...     ...
1355            Verb -> 'tadah'  Verb              1       0
1356            Verb -> 'tamak'  Verb              1       0
1357          Verb -> 'tandruh'  Verb              1       0
1358  Verb -> 'tengkejutningeh'  Verb              1       0
1359            Verb -> 'tuara'  Verb              1       0

[1360 rows x 4 columns]

# 1.2. Kelas Kata

### 1.2.1. Case Folding

In [155]:
# ambil data kelas kata
df_words = pd.read_excel("raw/all_kelas_kata.xlsx", usecols=["Word", "POS Tag"])
df_words["Word"] = df_words["Word"].apply(lambda w: w.lower()) # preprocessing
df_words

           Word POS Tag
0           pan     NNP
1         karsa       Z
2         ajaka      CC
3      pianakne      VB
4         muani      NN
...         ...     ...
89912      mase     NNP
89913   pejanga      VB
89914        di      IN
89915  tendasne      NN
89916         .       Z

[89917 rows x 2 columns]

### 1.2.2. Normalization

In [156]:
# normalisasi kelas kata
def label_kelas_kata(pos_tag):
  if pos_tag in ["NNP"]: return "PropNoun"
  if pos_tag in ["Z", "NEG", "DT", "MD", "RP"]: return "Det"
  if pos_tag in ["CC", "IN", "CS"]: return "Prep"
  if pos_tag in ["VB"]: return "Verb"
  if pos_tag in ["NN", "UH", "WH"]: return "Noun"
  if pos_tag in ["JJ"]: return "Adj"
  if pos_tag in ["PR"]: return "Pronoun"
  if pos_tag in ["CD", "NND"]: return "Num"
  if pos_tag in ["RB"]: return "Adv"
df_words["POS Tag"] = df_words["POS Tag"].apply(label_kelas_kata) # preprocessing
df_words = df_words.drop_duplicates(ignore_index=True) # preprocessing
df_words

           Word   POS Tag
0           pan  PropNoun
1         karsa       Det
2         ajaka      Prep
3      pianakne      Verb
4         muani      Noun
...         ...       ...
18717     matai      Noun
18718  dipolone      Noun
18719  majambot  PropNoun
18720     pecut  PropNoun
18721      mase  PropNoun

[18722 rows x 2 columns]

In [157]:
# buat production dari data kelas kata
df_words = df_words[["POS Tag", "Word"]].rename(columns={"POS Tag": "lhs", "Word": "rhs"})
df_words["lhs"] = df_words["lhs"].apply(lambda l: nltk.Nonterminal(l))
df_words["rhs"] = df_words["rhs"].apply(lambda r: [nltk.Nonterminal("'{}'".format(r))])
df_words["production"] = df_words.apply(lambda n: nltk.Production(lhs=n["lhs"], rhs=n["rhs"]), axis=1)
df_words

            lhs           rhs              production
0      PropNoun       ['pan']       PropNoun -> 'pan'
1           Det     ['karsa']          Det -> 'karsa'
2          Prep     ['ajaka']         Prep -> 'ajaka'
3          Verb  ['pianakne']      Verb -> 'pianakne'
4          Noun     ['muani']         Noun -> 'muani'
...         ...           ...                     ...
18717      Noun     ['matai']         Noun -> 'matai'
18718      Noun  ['dipolone']      Noun -> 'dipolone'
18719  PropNoun  ['majambot']  PropNoun -> 'majambot'
18720  PropNoun     ['pecut']     PropNoun -> 'pecut'
18721  PropNoun      ['mase']      PropNoun -> 'mase'

[18722 rows x 3 columns]

In [158]:
# buat tabel df_words rules yang berisi production, lhs, sum_production, sum_lhs
df_words_rules = pd.concat([df_words.drop(columns=["rhs"])], ignore_index=True)
df_words_rules["sum_production"] = pd.Series(0, index=range(len(df_words_rules)))
df_words_rules["sum_lhs"] = pd.Series(0, index=range(len(df_words_rules)))
df_words_rules

            lhs              production  sum_production  sum_lhs
0      PropNoun       PropNoun -> 'pan'               0        0
1           Det          Det -> 'karsa'               0        0
2          Prep         Prep -> 'ajaka'               0        0
3          Verb      Verb -> 'pianakne'               0        0
4          Noun         Noun -> 'muani'               0        0
...         ...                     ...             ...      ...
18717      Noun         Noun -> 'matai'               0        0
18718      Noun      Noun -> 'dipolone'               0        0
18719  PropNoun  PropNoun -> 'majambot'               0        0
18720  PropNoun     PropNoun -> 'pecut'               0        0
18721  PropNoun      PropNoun -> 'mase'               0        0

[18722 rows x 4 columns]

# 1.3. Normal Rules

In [ ]:
# buat normal rule nya
normal_rules = pd.DataFrame({"production": [
  "K -> S P", "K -> S P Pel", "K -> S P O", "K -> S P Ket", "K -> S P O Pel", "K -> S P O Ket", "K -> S P O Pel Ket",
  "S -> NP",
  "P -> VP", "P -> NP", "P -> AdjP", "P -> NumP", 
  "O -> NP",
  "Pel -> NP", "Pel -> AdjP", "Pel -> VP", "Pel -> NumP",
  "Ket -> PP",
  "NP -> Noun", "NP -> PropNoun", "NP -> Pronoun", "NP -> NP Noun", "NP -> NP AdjP", "NP -> NP PropNoun", "NP -> NP Pronoun", "NP -> NP Det",
  "VP -> Verb", "VP -> Adv VP", "VP -> VP Verb", "VP -> VP Adj"
  "AdjP -> Adv AdjP", "AdjP -> Adj",
  "PP -> Prep NP",
  "NumP -> Num", "NumP -> NumP Num", "NumP -> NumP Noun"
]})
normal_rules["lhs"] = normal_rules["production"].apply(lambda p: nltk.CFG.fromstring(p).productions()[0].lhs())
normal_rules["sum_production"] = pd.Series(0, index=range(len(normal_rules)))
normal_rules["sum_lhs"] = pd.Series(0, index=range(len(normal_rules)))
normal_rules

            production   lhs  sum_production  sum_lhs
0             K -> S P     K               0        0
1         K -> S P Pel     K               0        0
2           K -> S P O     K               0        0
3         K -> S P Ket     K               0        0
4       K -> S P O Pel     K               0        0
5       K -> S P O Ket     K               0        0
6   K -> S P O Pel Ket     K               0        0
7              S -> NP     S               0        0
8              P -> VP     P               0        0
9              P -> NP     P               0        0
10           P -> AdjP     P               0        0
11           P -> NumP     P               0        0
12             P -> PP     P               0        0
13             O -> NP     O               0        0
14           Pel -> NP   Pel               0        0
15         Pel -> AdjP   Pel               0        0
16           Pel -> VP   Pel               0        0
17         Pel -> NumP   Pel               0        0
18           Ket -> PP   Ket               0        0
19          NP -> Noun    NP               0        0
20      NP -> PropNoun    NP               0        0
21       NP -> Pronoun    NP               0        0
22       NP -> NP Noun    NP               0        0
23        NP -> NP Adj    NP               0        0
24   NP -> NP PropNoun    NP               0        0
25    NP -> NP Pronoun    NP               0        0
26       NP -> NumP NP    NP               0        0
27          VP -> Verb    VP               0        0
28        VP -> Adv VP    VP               0        0
29    AdjP -> Adv AdjP  AdjP               0        0
30         AdjP -> Adj  AdjP               0        0
31       PP -> Prep NP    PP               0        0
32         NumP -> Num  NumP               0        0
33    NumP -> NumP Num  NumP               0        0
34   NumP -> NumP Noun  NumP               0        0

# 2. Process

### 2.1. Olah Sentences Rules dan Normal Rules

In [160]:
# catat data sentences rules sesuai dengan normal rules
for i, value_i in df_sentences_rules.iterrows():
  for j, value_j in normal_rules.iterrows():
    if value_i["production"] == value_j["production"]:
      normal_rules.loc[j, "sum_production"] = value_i["sum_production"]
normal_rules

            production   lhs  sum_production  sum_lhs
0             K -> S P     K              67        0
1         K -> S P Pel     K             175        0
2           K -> S P O     K               0        0
3         K -> S P Ket     K              42        0
4       K -> S P O Pel     K             114        0
5       K -> S P O Ket     K              23        0
6   K -> S P O Pel Ket     K              13        0
7              S -> NP     S             434        0
8              P -> VP     P              91        0
9              P -> NP     P             333        0
10           P -> AdjP     P               9        0
11           P -> NumP     P               1        0
12             P -> PP     P               0        0
13             O -> NP     O             150        0
14           Pel -> NP   Pel             275        0
15         Pel -> AdjP   Pel               0        0
16           Pel -> VP   Pel              22        0
17         Pel -> NumP   Pel               5        0
18           Ket -> PP   Ket              78        0
19          NP -> Noun    NP             848        0
20      NP -> PropNoun    NP               0        0
21       NP -> Pronoun    NP             422        0
22       NP -> NP Noun    NP             221        0
23        NP -> NP Adj    NP               0        0
24   NP -> NP PropNoun    NP               0        0
25    NP -> NP Pronoun    NP              75        0
26       NP -> NumP NP    NP               0        0
27          VP -> Verb    VP             113        0
28        VP -> Adv VP    VP              31        0
29    AdjP -> Adv AdjP  AdjP               2        0
30         AdjP -> Adj  AdjP              25        0
31       PP -> Prep NP    PP              78        0
32         NumP -> Num  NumP               6        0
33    NumP -> NumP Num  NumP               0        0
34   NumP -> NumP Noun  NumP               0        0

In [161]:
# seleksi rule yang mengandung kata-kata
df_sentences_rules = df_sentences_rules[df_sentences_rules['production'].str.contains(r"'.*'", regex=True)]
df_sentences_rules

                     production   lhs sum_production sum_lhs
0                Adj -> 'ageng'   Adj              1       0
1               Adj -> 'bajang'   Adj              1       0
2                Adj -> 'barak'   Adj              1       0
3                Adj -> 'belog'   Adj              3       0
4                Adj -> 'beneh'   Adj              1       0
...                         ...   ...            ...     ...
1355            Verb -> 'tadah'  Verb              1       0
1356            Verb -> 'tamak'  Verb              1       0
1357          Verb -> 'tandruh'  Verb              1       0
1358  Verb -> 'tengkejutningeh'  Verb              1       0
1359            Verb -> 'tuara'  Verb              1       0

[1330 rows x 4 columns]

### 2.2. Merge dengan Kelas Kata Rules

In [162]:
# merge normal rules, words rule, dan sentences rules
probabilistic_rules = pd.concat([normal_rules, df_words_rules, df_sentences_rules])
# probabilistic_rules = probabilistic_rules.drop_duplicates(ignore_index=True)
probabilistic_rules

                     production   lhs sum_production sum_lhs
0                      K -> S P     K             67       0
1                  K -> S P Pel     K            175       0
2                    K -> S P O     K              0       0
3                  K -> S P Ket     K             42       0
4                K -> S P O Pel     K            114       0
...                         ...   ...            ...     ...
1355            Verb -> 'tadah'  Verb              1       0
1356            Verb -> 'tamak'  Verb              1       0
1357          Verb -> 'tandruh'  Verb              1       0
1358  Verb -> 'tengkejutningeh'  Verb              1       0
1359            Verb -> 'tuara'  Verb              1       0

[20087 rows x 4 columns]

### 3. Hitung Probability Rule

In [163]:
# menghitung total masing masing production
probabilistic_rules = probabilistic_rules.groupby("production").agg({
  "lhs": "first",
  "sum_production": "sum",
  "sum_lhs": "sum"
}).reset_index()
probabilistic_rules

                      production   lhs sum_production sum_lhs
0                Adj -> 'abulan'   Adj              0       0
1                 Adj -> 'ageng'   Adj              0       0
2                  Adj -> 'akeh'   Adj              0       0
3                  Adj -> 'alit'   Adj              0       0
4                 Adj -> 'arang'   Adj              0       0
...                          ...   ...            ...     ...
20082            Verb -> 'tadah'  Verb              1       0
20083            Verb -> 'tamak'  Verb              1       0
20084          Verb -> 'tandruh'  Verb              1       0
20085  Verb -> 'tengkejutningeh'  Verb              1       0
20086            Verb -> 'tuara'  Verb              1       0

[20087 rows x 4 columns]

In [164]:
# probabilistic_rules[probabilistic_rules["lhs"] == nltk.Nonterminal("K")]
# type(probabilistic_rules["lhs"][0])

               production lhs sum_production sum_lhs
19179            K -> S P   K             67       0
19180        K -> S P Ket   K             42       0
19181          K -> S P O   K              0       0
19182      K -> S P O Ket   K             23       0
19183      K -> S P O Pel   K            114       0
19184  K -> S P O Pel Ket   K             13       0
19185        K -> S P Pel   K            175       0

In [165]:
# tambahin korting untuk mencegah hasil probabilistic itu tidak terdefinisi (0 / 0)
# probabilistic_rules['sum_production'] += 0.1
# probabilistic_rules

In [166]:
probabilistic_rules["sum_lhs"] = probabilistic_rules.groupby("lhs")["sum_production"].transform("sum")
probabilistic_rules

                      production   lhs sum_production sum_lhs
0                Adj -> 'abulan'   Adj              0       0
1                 Adj -> 'ageng'   Adj              0       0
2                  Adj -> 'akeh'   Adj              0       0
3                  Adj -> 'alit'   Adj              0       0
4                 Adj -> 'arang'   Adj              0       0
...                          ...   ...            ...     ...
20082            Verb -> 'tadah'  Verb              1     147
20083            Verb -> 'tamak'  Verb              1     147
20084          Verb -> 'tandruh'  Verb              1     147
20085  Verb -> 'tengkejutningeh'  Verb              1     147
20086            Verb -> 'tuara'  Verb              1     147

[20087 rows x 4 columns]

In [167]:
probabilistic_rules = probabilistic_rules[probabilistic_rules["sum_lhs"] > 0]
probabilistic_rules

                      production   lhs sum_production sum_lhs
18722             Adj -> 'ageng'   Adj              1      32
18723            Adj -> 'bajang'   Adj              1      32
18724             Adj -> 'barak'   Adj              1      32
18725             Adj -> 'belog'   Adj              3      32
18726             Adj -> 'beneh'   Adj              1      32
...                          ...   ...            ...     ...
20082            Verb -> 'tadah'  Verb              1     147
20083            Verb -> 'tamak'  Verb              1     147
20084          Verb -> 'tandruh'  Verb              1     147
20085  Verb -> 'tengkejutningeh'  Verb              1     147
20086            Verb -> 'tuara'  Verb              1     147

[1365 rows x 4 columns]

In [168]:
probabilistic_rules['probability'] = probabilistic_rules['sum_production'] / probabilistic_rules['sum_lhs']
probabilistic_rules

C:\Users\Adi\AppData\Local\Temp\ipykernel_2628\3118849006.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  probabilistic_rules['probability'] = probabilistic_rules['sum_production'] / probabilistic_rules['sum_lhs']

                      production   lhs sum_production sum_lhs probability
18722             Adj -> 'ageng'   Adj              1      32     0.03125
18723            Adj -> 'bajang'   Adj              1      32     0.03125
18724             Adj -> 'barak'   Adj              1      32     0.03125
18725             Adj -> 'belog'   Adj              3      32     0.09375
18726             Adj -> 'beneh'   Adj              1      32     0.03125
...                          ...   ...            ...     ...         ...
20082            Verb -> 'tadah'  Verb              1     147    0.006803
20083            Verb -> 'tamak'  Verb              1     147    0.006803
20084          Verb -> 'tandruh'  Verb              1     147    0.006803
20085  Verb -> 'tengkejutningeh'  Verb              1     147    0.006803
20086            Verb -> 'tuara'  Verb              1     147    0.006803

[1365 rows x 5 columns]

In [169]:
# simpan probabilistic rules
probabilistic_rules.to_csv("rules/probabilistic_rules.csv", index=False)