In [65]:
import pandas as pd
import nltk

In [66]:
# ambil rule probabilistic
df = pd.read_csv("rules/probabilistic_rules.csv")
df

                     production   lhs  sum_production  sum_lhs  probability
0                Adj -> 'ageng'   Adj               1       32     0.031250
1               Adj -> 'bajang'   Adj               1       32     0.031250
2                Adj -> 'barak'   Adj               1       32     0.031250
3                Adj -> 'belog'   Adj               3       32     0.093750
4                Adj -> 'beneh'   Adj               1       32     0.031250
...                         ...   ...             ...      ...          ...
1360            Verb -> 'tadah'  Verb               1      147     0.006803
1361            Verb -> 'tamak'  Verb               1      147     0.006803
1362          Verb -> 'tandruh'  Verb               1      147     0.006803
1363  Verb -> 'tengkejutningeh'  Verb               1      147     0.006803
1364            Verb -> 'tuara'  Verb               1      147     0.006803

[1365 rows x 5 columns]

In [67]:
df[df["lhs"].isin(["Noun"])]

             production   lhs  sum_production  sum_lhs  probability
473     Noun -> 'abana'  Noun               1     1069     0.000935
474      Noun -> 'abet'  Noun               1     1069     0.000935
475    Noun -> 'abetne'  Noun               1     1069     0.000935
476       Noun -> 'ada'  Noun              16     1069     0.014967
477   Noun -> 'adanina'  Noun               1     1069     0.000935
...                 ...   ...             ...      ...          ...
1014   Noun -> 'wirada'  Noun               1     1069     0.000935
1015      Noun -> 'wus'  Noun               1     1069     0.000935
1016      Noun -> 'yeh'  Noun               1     1069     0.000935
1017   Noun -> 'yuyune'  Noun               2     1069     0.001871
1018       Noun -> 'ìh'  Noun               1     1069     0.000935

[546 rows x 5 columns]

In [68]:
# tulis rule cfg
# grammar_cfg = ""
# for prod in df["production"]:
#   grammar_cfg += f"{prod}\n"
# grammar_cfg = nltk.CFG.fromstring(grammar_cfg)
# grammar_cfg._start = nltk.Nonterminal("K")
# parser_cfg = nltk.ChartParser(grammar_cfg)

In [69]:
# tulis rule pcfg
grammar_pcfg = ""
for prod, prob in zip(df["production"], df["probability"]):
  grammar_pcfg += f"{prod} [{prob}]\n"
grammar_pcfg = nltk.PCFG.fromstring(grammar_pcfg)
grammar_pcfg._start = nltk.Nonterminal("K")
parser_pcfg = nltk.ViterbiParser(grammar_pcfg)

In [71]:
# tulis kalimat
# sentence = input("Enter your Balinese sentence: ")
sentence = "meme baanga nasi"
sentence = sentence.lower().split()

In [72]:
try:
    for tree in parser_pcfg.parse(sentence):
        display(tree)
except Exception as e:
    print(e)

Grammar does not cover some of the input words: "'nasi'".